body{
    margin:0;
    padding:0;
    width:100%;
}
#num{
    color:blue;
}
header{
    padding:0;
    margin:0;
    height:100px;
    background-color:navy !important;
}
.opening{
    text-decoration: none;
    color:black;
    font-size:25px;
    float:left;
    margin:35px 40px 20px 380px;
    transition:0.3s;
    
}
.opening:hover,.next:hover,.current:hover{
    color:red;

}
.next{
    float:left;
    font-size:40px;
    text-decoration: none;
    color:black;
    margin:20px 40px 20px 60px;
}
.current{
    float:left;
    font-size:25px;
    text-decoration: none;
    color:black;
    margin:30px 10px 10px 60px;
}
.main{
    margin:100px 20px 100px 20px;
    float:none !important;   
}
.list{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}
.aot{
    background-color:grey;
    height:200px;
    width:25%;
    border:1px solid black;
    box-shadow:4px 8px 4px grey;
}
.stone{
    background-color:grey;
    height:200px;
    width:25%;
    border:1px solid black;
    box-shadow:4px 8px 4px grey;
}
.promised{
    background-color:grey;
    height:200px;
    width:25%;
    border:1px solid black;
    box-shadow:4px 8px 4px grey;
}
.list h4{
    color:darkorange;
    font-size:18px;
    text-align: center;
}
.list li{
    list-style: none;
    
}